body {
  background-color: #c4b5fd;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido */
  min-height: 100vh;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  
}

/* Estilos para el top bar */
.top-bar {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; /* Asegura que la barra esté por encima del contenido */
}

.top-bar .title {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

.top-bar .top-buttons { /* Clase más específica */
  display: flex;
}

.top-bar .top-buttons button {
  background-color: transparent;
  color: #3a3a3a;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-family: 'Cabin', sans-serif;
}

.top-bar .top-buttons button:hover {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px; /* Espacio para la barra superior */
  width: 100%;
  box-sizing: border-box;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura */
}

.card {
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  /* Agregado para posicionar el contador */
  width: 300px;
  margin-top: 0px;
  display: flex; /* Habilita flexbox en la tarjeta */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.card::before {
  content: "";
  display: block;
  padding-top: 133.33%;
}

.card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.card-text {
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
  padding: 0 10px;
  /* Alinear al centro del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ajustar altura */
}

.card-text .question {
  /* Estilo para la pregunta */
  background-color: #f9f9f9; /* Fondo gris claro */
  border: 2px solid #bcbcbc; /* Borde gris */
  border-radius: 16px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
  width: 90%; /* Ancho del contenedor */
  box-sizing: border-box; /* Incluimos el padding en el ancho */
  margin-bottom: 5px; /* Espacio abajo de la pregunta */
}

.card-text .answer {
  /* Estilo para la respuesta */
  background-color: #fffcd4; /* Fondo color especificado */
  border: 2px solid #ffde00; /* Borde gris */
  border-radius: 16px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
  width: 90%; /* Ancho del contenedor */
  box-sizing: border-box; /* Incluimos el padding en el ancho */
  margin-top: 5px; /* Espacio arriba de la respuesta */
}

.card-buttons { /* Clase más específica */
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.card-buttons button {
  /* ... (Estilos para los botones de la tarjeta) ... */
  background-color: #e0d9ff;
  color: #3a3a3a;
  border: none;
  padding: 16px 20px;
  border-radius: 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Cabin', sans-serif;
}

button:hover {
  background-color: #d6d1ff;
}

#cardCount {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#cardLabel {
  /* Se elimina este elemento, ya que no se necesita */
  display: none;
}

#memorizeButton {
  background-color: #d9d9d9;
  color: #4a4a4a;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0px;
    font-family: 'Cabin', sans-serif;
}

#memorizeButton:hover {
  background-color: #c4c4c4;
}

/* No se necesita la clase 'active' en el CSS */

#fileInput {
  margin-left: 20px;
  margin-top: 20px;
}

.memorize-button-container {
  width: 340px; /* Ancho del box */
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-bottom: 4px; /* Espacio entre el botón Memorize y la tarjeta */
}

.file-button-container {
  display: none;
}

#selectDeckMessage {
  font-family: 'Cabin', sans-serif;
  color: #ccc; /* Gris claro */
}